.map-container {
    position: absolute;
    font-size: 14px;
    top: 0px;
    left: 243px;
    color: red;
    width: 200px;
    height: auto; 
    display: block;
    background: none;
    border: 1px solid white;
    padding: 0;
  }
.map-container p {
width: 100%;
text-align: center;
text-transform: uppercase;
font-weight: bold;
max-width: 100%;
margin-top: 0;
margin-bottom: 2px;
cursor:default;
user-select: none;
}
  .map-container button {
    text-align: left;
    width: 100%;
    border: none;
    color: #818181;
    background-color: transparent;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
  }
  .map-container button:hover {
    background-color: rgba(255, 0, 0, .5);
    color: white;
  }