.area {
	fill: #101010;
}

.area:hover {
	fill: #303030;
	transition: fill 0.2s;
}

.area:active {
	fill: crimson;
	transition: fill 0.3s;
}
.area::after {
	fill: blue;
}
.vector {
	position: absolute;
	left: 750px;
	height: 399px;
	width: 600px;
	top: 250px;
	scale: 2;
}
.text {
	font-size: 8px;
	fill: #f5efae;
}

.perimeter {
	fill: none;
	stroke: #8e989d;
	stroke-width: 1;
}

.doubledoors {
	fill: none;
	stroke: white;
	stroke-width: 5;
}

.singledoors {
	fill: none;
	stroke: white;
	stroke-width: 2.5;
}

.stairs {
	fill: none;
	stroke: #8e989d;
	stroke-width: 1;
}
.arrow {
	fill: #f5efae;
	stroke: black;
	stroke-width: 0.5;
}

.fountain {
	fill: #0e1110;
	stroke: #3f7066;
	stroke-width: 1;
}

.terminal1 {
	fill: #0e1110;
	stroke: #3f7066;
	stroke-width: 1;
}

.terminal2 {
	fill: #c2e8e9;
	stroke: #c2e8e9;
	stroke-width: 0.1;
}
.elevator1 {
	fill: #0e1110;
	stroke: #3e311e;
	stroke-width: 1;
}
.elevator2 {
	fill: #f5efae;
	stroke: #f5efae;
	stroke-width: 0.1;
}
