      body {
        background-color: black;
      }
    .dropdown-container {
      position: absolute;
      font-size: 14px;
      top: 400px;
      left: 1200px;
      color: red;
      width: 200px;
      height: auto; 
      display: block;
      background: none;
      border: 1px solid white;
      padding: 0;
    }
.dropdown-container p {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 2px;
  cursor:default;
  user-select: none;
}
    .dropdown-container button {
      text-align: left;
      width: 100%;
      border: none;
      color: #818181;
      background-color: transparent;
      font-weight: bolder;
      font-family: "Courier New", Courier, monospace;
    }
    .dropdown-container button:hover {
      background-color: rgba(255, 0, 0, .5);
      color: white;
    }
    table,
      th {
        margin-left: 600px;
        color: white;
        border: 1px solid white;
        border-collapse: collapse;
        background-color: gray;
      }
      .area1 {
        background-color: violet;
        color: black;
        fill: violet;
      }
      .area2 {
        background-color: indigo;
        color: white;
        fill:indigo;
      }
      .area3 {
        background-color: blue;
        color: white;
        fill: blue;
      }
      .area4 {
        background-color: green;
        color: white;
        fill: green;
      }
      .area5 {
        background-color: yellow;
        color: black;
        fill: yellow;
      }
      .area6 {
        background-color: orange;
        color: black;
        fill: orange;
      }
      .areaboss {
        background-color: red;
      color: black;
      fill: red;
      }
      .fiend {
        color: red;
      }
      .medical-center {
        position: absolute;
        width: 600px;
        height: 400px;
        left: 300px;
        top: 300px;
      }
      .area {
        fill: #101010;
    }
    
    .area:hover {
        fill: #303030;
        transition: fill 0.2s;
    }
    
    .area:active {
        fill: crimson;
        transition: fill .3s;
    }
    
    .vector {
        position: absolute;
        left: 500px;
        height: 400px;
        width: 600px;
        top: 20px;
    }
    .victor {
        position: absolute;
        left: 500px;
        height: 400px;
        width: 600px;
        top: 500px;
    }
    .voctor {
      position: absolute;
      left: 1100px;
      height: 400px;
      width: 600px;
      top: 20px;
  }
    
    .text {
        font-size: 8px;
        fill: #f5efae;
    }
    
    .perimeter {
        fill: none;
        stroke: #8e989d;
        stroke-width: 1;
    }
    
    .doubledoors {
        fill: none;
        stroke: white;
        stroke-width: 5;
    }
    
    .singledoors {
        fill: none;
        stroke: white;
        stroke-width: 2.5;
    }
    
    .stairs {
        fill: none;
        stroke: #8e989d;
        stroke-width: 1;
    }
    .arrow {
        fill: #f5efae;
        stroke: black;
        stroke-width: 0.5;
    }
    
    .fountain {
        fill: #0e1110;
        stroke: #3f7066;
        stroke-width: 1;
    }
    
    .terminal1 {
        fill: #0e1110;
        stroke: #3f7066;
        stroke-width: 1;   
    }
    
    .terminal2 {
        fill: #c2e8e9;
        stroke: #c2e8e9;
        stroke-width: 0.1;
    }
    .elevator1 {
        fill: #0e1110;
        stroke: #3e311e;
        stroke-width: 1;
    }
    .elevator2 {
        fill: #f5efae;
        stroke: #f5efae;
        stroke-width: 0.1;
    }