.table-viewer {
	position: fixed;
	right: 0;
	top: 0;
	color: white;
	width: 18%;
	max-height: 100%;
	height: fit-content;
	border: 1px solid white;
	user-select: none;
	background-color: black;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.roomname {
	text-align: center;
}

.table-viewer h1 {
	text-transform: uppercase;
}

.itemtable {
	width: 100%;
	margin-left: -20px;
	text-align: left;
}
.items {
	width: 30%;
}

.qty {
	width: 10%;
}

.from {
	width: 60%;
}

.itemtable,
.itemtable th,
.itemtable td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 2px;
}

.demontable {
	width: 100%;
	margin-left: -20px;
	text-align: left;
}
.demontable,
.demontable th,
.demontable td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 2px;
}

.spirittable {
	width: 100%;
	margin-left: -20px;
	text-align: left;
}
.spirittable,
.spirittable th,
.spirittable td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 2px;
}

.thirtyonep {
	width: 31%;
}

.spiritdialogue {
	border: none;
	border-color: white;
	border-collapse: collapse;
}

.spiritdialogue th {
	text-wrap: nowrap;
}

.magatama {
	background-color: rgba(255, 168, 168, 0.5);
}
